<div class="container"><div class="jumbotron"><span class="rainbow"><h1>Stellar Band Manager </span> </h1></div></div>

<div class="container"><a href="/bands" id="band-link">Go directly to all bands </a>
</br>
</br>

<hr>

</br>
</br>
<a href="/venues" id="venue-link">Go directly to all Venues </a>

</div>


</br>
</br>



<h2><a href="/concerts">Create a new Concert here</a></h2>
