body {
  background-color: darkcyan;
}

h1 {
  color: white;
  text-align: center;
  text-size: 20px;
}

#band-link {
  border: 10px solid orange;
}

#venue-link {
  border: 10px solid orange;
}

a:link {
  color: pink;
}

a:visited {
  color: orange;
}

a:hover {
  color: green;
}
